.tagSearch{
  background-color: blueviolet;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containers{
  display: 'flex';
  background-color: aquamarine;
  margin: 0 auto;
  padding: 0;
}

.logoShop{
  height: 180px;
  width: 180px;
}

#bannerTop{
  /* float: right; */
  background-color: turquoise;
  height: 150px;
  width: 100%;

}
.bannerTop{
  background-color: violet;
  height: 100%;
  width: 600px;
  /* display: flex; */
}
.listProduct{
  background-color: violet;
  height: 100%;
  width: 100%
}
.listProduct a:hover {
  margin-left: 10px;
}

.nav-item{
  /* background-color: goldenrod; */
  padding: 0 15px;
}
/* Thay đổi màu liên kết khi di chuột qua */
.collapse a:hover {
  /* background-color: #db7093; */
  color: gainsboro;
  font-weight: bold;
}

.slider{
  display: flex;
  background-color:thistle ;
  height: 500px;
  /* justify-content: center;
  align-items: center; */
  width: 100%;
  padding: 0;
}

#leftSlider{
  display: flex;
  background-color:tan ;
  height: 500px;
  padding: 10px;
  flex-direction: column;
}
.rightSlider{
  display: flex;
  background-color:teal ;
  height: 500px;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.titleProduct{
  display: flex;
  background-color:tomato;
  height: 50px;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.marketing{
  display: flex;
  background-color:rgb(150, 135, 133);
  height: 150px;
  padding: 0;
  justify-content: center;
  align-items: center;

}
.product{
  display: flex;
  background-color:rgb(84, 180, 132);
  height: 600px;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.product1{
  display: flex;
  background-color:rgb(84, 180, 132);
  height: 350px;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.product2{
  display: flex;
  background-color:rgb(76, 29, 114);
  height: 350px;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.partner{
  display: flex;
  background-color:rgb(149, 155, 64);
  height: 150px;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.footer{

  display: flex;
  background-color:rgb(80, 80, 76);
  height: 250px;
  padding: 0;
  justify-content: center;
  align-items: center;
}



@media screen and (max-width: 600px) {
  .tagSearch{
    background-color: blueviolet;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logoShop{
    height: 100px;
    width: 100px;
  }
  .slider{
    display: flex;
    flex-direction: column;
    background-color:thistle ;
    /* height: 260px; */
    /* justify-content: flex-start; */
    width: 100%;
    padding: 0;
  }
  #leftSlider{
    display: flex;
    background-color:tan ;
    height: 60px;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .rightSlider{
    display: flex;
    background-color:teal ;
    height: 200px;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .navbar{
    /* float: left; */
    padding-left:10;
    padding-top: 0;
    padding-bottom: 0;

  }
  
}